
<div class="card">
    <h1>SERVICES</h1>
    <div class="card-body">
        <div class="container-fluid mt-4 ml-4">
            <table border="2">
                <thead>
                    <tr>ID</tr>
                    <tr>Nom</tr>
                    <tr>Description</tr>
                    <tr>Action</tr>
                </thead>
                <tbody>
                    <td>1</td>
                    <td>Technique</td>
                    <td>...</td>
                <td>
                    <button class="btn btn-primary">X</button>
                    <button class="btn btn-primary">V</button>
                </td>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
